<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>com.iwith.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>效能監測:</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PerformanceFilter2</filter-name>
        <filter-class>com.iwith.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>效能監測[2]:</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter2</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>PerformanceFilter3</filter-name>
        <filter-class>com.iwith.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>效能監測[3]:</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter3</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.iwith.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>歡迎</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageCheckServlet</servlet-name>
        <servlet-class>com.iwith.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegisterImageCheckServlet</servlet-name>
        <servlet-class>com.iwith.view.ImageCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterImageCheckServlet</servlet-name>
        <url-pattern>/images/register_check.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello.view</url-pattern>
        <url-pattern>/abc/hello.php</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloServlet2</servlet-name>
        <servlet-class>com.iwith.view.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet2</servlet-name>
        <url-pattern>*.php</url-pattern>
        <url-pattern>/abc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCheckServlet</servlet-name>
        <url-pattern>/images/check.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>products_list.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>All</display-name>
        <web-resource-collection>
            <web-resource-name>all pages</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <!--        <auth-constraint>
            <description/>
            <role-name>*</role-name>            
        </auth-constraint>-->
    </security-constraint>
    <security-constraint>
        <display-name>admin_process</display-name>
        <web-resource-collection>
            <web-resource-name>All admin pages</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admins</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <description/>
        <role-name>admins</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>users</role-name>
    </security-role>
</web-app>
